.page {
  max-width: 1280px;
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  color: #2a2c2f;
  background: #fff;
}
