.place__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1140px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 984px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 568px) {
  .place__image {
    /* max-width: 320px; */

    max-width: 100%;
  }
}
