.header__logo {
  max-width: 176px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .header__logo {
    max-width: 142px;
  }
}
