.header {
  margin: auto;
  margin-top: 28px;
  margin-bottom: 66px;
  width: calc(100% - 2 * 48px);
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1100px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: calc(100% - 2 * 16px);
    margin-top: 16px;
  }
}
