.lead__title {
  max-width: 720px;
  width: 100%;
  /* min-height: 200px; */
  margin: 0;
  padding: 0;
  margin: auto;
  margin-bottom: 22px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .lead__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin-bottom: 32px;
    font-size: 70px;
    line-height: 77px;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    max-width: 288px;
    /* min-height: 88px; */
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
