.place__paragraph {
  max-width: 484px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
  .place__paragraph {
    max-width: 456px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    max-width: 352px;
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .place__paragraph {
    max-width: 100%;
    width: calc(100% - 2 * 16px);
    margin: auto;
    margin-bottom: 25px;
  }
}
