.intro {
  width: 690px;
  margin-bottom: 92px;
  margin-left: 148px;
}

@media screen and (max-width: 1100px) {
  .intro {
    margin-left: 48px;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    width: calc(100% - 2 * 24px);
    margin: auto;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    width: calc(100% - 2 * 16px);
    margin: auto;
    margin-bottom: 64px;
  }
}
