.intro {
  margin: auto;
  max-width: 984px;
  min-height: 429px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1140px) {
  .intro {
    /* max-width: 928px; */
    width: calc(100% - 2 * 48px);
    min-height: 429px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    /* max-width: 768px; */
    width: calc(100% - 2 * 24px);
    min-height: 429px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    width: calc(100% - 2 * 16px);
    /* max-width: 288px; */
    min-height: 754px;
    margin-bottom: 64px;
  }
}
