.cover {
  margin: auto;
  width: calc(100% - 2 * 48px);
  background-image: url(../../images/background/cover-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .cover {
    width: 100%;
  }
}
