.place__link {
  max-width: 456px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: opacity 0.5s ease-in-out;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .place__link {
    max-width: 352px;
  }
}

@media screen and (max-width: 600px) {
  .place__link {
    max-width: 288px;
  }
}
