.place {
  max-width: 984px;
  width: 100%;
  min-height: 660px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1140px) {
  .place {
    max-width: 928px;
    min-height: 640px;
    margin-bottom: 80px;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    max-width: 720px;
    min-height: 581px;
    margin-bottom: 73px;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    max-width: 320px;

    min-height: 1042px;
    margin-bottom: 50px;
    grid-template-columns: auto;
    grid-row-gap: 32px;
    grid-column-gap: 0;
    margin: auto;
  }
}
