.footer {
  margin: auto;
  width: calc(100% - 2 * 48px);
  min-height: 18px;
  margin-top: 92px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .footer {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 900px) {
  .footer {
    width: calc(100% - 2 * 24px);
    margin-top: 88px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    max-width: 100%;
    min-height: 310px;
    margin-top: 64px;
    grid-template-columns: auto;
  }
}
